*{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    width: 100%;
    padding-top:10px;
    display: flex;
    align-items: center;
}

.navlist {
    display:flex;
    list-style:none;
    text-decoration: none;
    padding-left: 10%;
}

.navlist a{
    color: black;
    font-weight: 800;
    font-size:28px;
    font-family: 'Unbounded', cursive;
    margin:0 30px;
    text-decoration: none;
}

.navlist a:hover{
    color:rgb(254, 1, 5);
}
.navlist a.active{
    color:rgb(254, 1, 5);
}